version: 2.1

orbs:
  slack: circleci/slack@3.4.2

executors:
  nodejs:
    docker:
      - image: circleci/node:latest

jobs:
  create_version:
    executor: nodejs
    steps:
      - add_ssh_keys:
          fingerprints:
            - "3e:dc:c9:5f:73:83:17:ff:f0:10:0e:38:28:e8:04:00"
      - run:
          name: Setup GIT email
          command: git config --global user.email "developer@keen.io"
      - run:
          name: Setup GIT user
          command: git config --global user.name "Keen Developer"
      - checkout
      - run:
          name: Install dependencies
          command: yarn
      - run:
          name: Create release
          command: yarn release
      - run:
          name: Push changes
          command: git push --follow-tags --set-upstream origin ${CIRCLE_BRANCH}
      - slack/notify:
          color: "#b7e3f1"
          message: created npm package release version
  publish:
    executor: nodejs
    working_directory: ~/tmp
    steps:
      - checkout
      - attach_workspace:
          at: ~/tmp/dist
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
      - slack/notify:
          color: "#b7e3f1"
          message: publishing npm package
      - run:
          name: Publish
          command: yarn publish
      - slack/status:
          fail_only: false
  build:
    executor: nodejs
    working_directory: ~/tmp
    steps:
      - checkout
      - restore_cache:
          key: npm-deps-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          key: npm-deps-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Unit Tests
          command: yarn test:ci
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: dist
          paths:
            - "*"
      - slack/status:
          fail_only: false
workflows:
  version: 2
  create_version:
    jobs:
      - create_version:
          filters:
            branches:
              only:
                - main
            tags:
              ignore: /.*/
  ci:
    jobs:
      - build:
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
  publish:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - publish:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
          requires:
            - build
